{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #content_container {
            margin: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }

        h1 {
            color: white;
        }

        h2 {
            color: white;
        }
        
        h3 {
            color: white;
        }

        h4 {
            color: white;
        }

        label {
            color: white;
        }

        a {
            color: white;
        }

        p {
            color: white;
        }
        .messages {
            color: white;
        }
        input {
            background-color: rgb(168, 168, 168);
        }
        #submit{
            background-color: white;
        }

    </style>
</head>
<html>
    <body>
        <div id="content_container">
            <h1 style="margin-bottom: 1px;">Comandos Modo Manual</h1>
            <p style="margin-top: 15px; margin-bottom: 1px; font-size: 16px;">Página para comandos básicos no modo manual</p>
            <p style="margin-top: 5px; margin-bottom: 40px;">Os comandos manuais serão aceitos apenas se a unidade ou usina estiverem em modo MANUAL</p>
            <div>
                <h2 style="margin-bottom: 20px;"><b>Comandos Gerais: </b></h3>
                <form method='post' action='/modo_manual/'>
                    {% csrf_token %}
                    <div style="margin-bottom: 1px;">
                        <table>
                            <tr>
                                <td>
                                    <label style="font-size: 18px;"><b>MOA Modo autônomo: </b></label>
                                </td>
                                <td>
                                    {% if usina.modo_autonomo == 1 %}
                                        <label style="font-size: 17px; margin-left: 5px; color: green">Ativado</label>
                                    {% else %}
                                        <label style="font-size: 17px; margin-left: 5px; color: red;">Desativado</label>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin-top: 1px;">
                        <label style="font-size: 17px; margin-left: 3px;">Comando: </label>
                        <input id="submit" type="submit" name="ativar_ma" value="Ativar">
                        <input id="submit" type="submit" name="desativar_ma" value="Desativar">
                    </div>
                </form>
            </div>
            <div style="margin-top: 30px;">
                <form method='post' action='/modo_manual/disjuntor/'>
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>
                                <label style="font-size: 18px; margin-top: 18px;"><b>Disjuntor 52L: </b></label>
                            </td>
                            <td>
                                {% if status_dj52l == True %}
                                    <label style="font-size: 17px; margin-left: 5px; color: red;">Fechado</label>
                                {% endif %}
                                {% if status_dj52l == False %}
                                    <label style="font-size: 17px; margin-left: 5px; color: green;">Aberto</label>
                                {% endif %}
                                {% if status_dj52l == None %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange;">Inconsistente</label>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <label style="font-size: 17px; margin-left: 3px;">Comando: </label>
                    <input id="submit" type="submit" name="abrir_dj" value="Abrir">
                    <input id="submit" type="submit" name="fechar_dj" value="Fechar">
                </form>
            </div>
            <div style="margin-top: 60px;">
                <h2><b>Comandos Unidade de Geração: </b></h2>
                <form method="post" action="/modo_manual/ug1/">
                    {% csrf_token %}
                    <table style="margin-bottom: 1px;">
                        <tr>
                            <td>
                                <label style="font-size: 18px; margin-top: 18px;"><b>UG1: </b></label>
                            </td>
                            <td>
                                {% if ug1_state == 0 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange;">Manual</label>
                                {% endif %}
                                {% if ug1_state == 1 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: green;">Disponível</label>
                                {% endif %}
                                {% if ug1_state == 2 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: yellow;">Restrito</label>
                                {% endif %}
                                {% if ug1_state == 3 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: red;">Indisponível</label>
                                {% endif %}
                                {% if ug1_state == 4 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: red;">Inconsistente</label>
                                {% endif %}
                                {% if ug1_state == 99 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: red;">Sem comunicação</label>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="padding-left: 1px;">
                                <label>Etapa:</label>
                            </td>
                            <td>
                                {% if ug1_etapa == 1 %}
                                <label style="font-size: 17px; margin-left: 5px; color: yellow;">Parando</label>
                                {% endif %}
                                {% if ug1_etapa == 2 %}
                                <label style="font-size: 17px; margin-left: 5px; color: red;">Parada</label>
                                {% endif %}
                                {% if ug1_etapa == 3 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: yellow;">Sincronizando</label>
                                {% endif %}
                                {% if ug1_etapa == 4 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: green;">Sincronizada</label>
                                {% endif %}
                                {% if ug1_etapa == 99 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: red;">Inconsistente</label>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <label style="margin-left: 3px;">Potência:</label>
                    <label>{{ pot_ug1 | floatformat:0 }} kW</label><br>
                    <label style="margin-left: 3px;">Setpoint:</label>
                    <label>{{ setpot_ug1 | floatformat:0 }} kW</label><br>
                    <label style="margin-left: 3px;">Horas máquina:</label>
                    <label>{{ tempo_ug1 | floatformat:2 }} h</label>
                    <div style="margin-top: 8px;"></div>
                    <label style="font-size: 16px; margin-left: 3px;">Enviar setpoint: </label>
                    <input style="margin-left: 1px;" type="text" name="setpoint_ug1" size=5 value="{{usina.ug1_setpot}}" />
                    <input id="submit" type="submit" name="enviar_setpoint_ug1" value="Enviar"/>
                    <div style="margin-top: 8px;"></div>
                    <label style="font-size: 16px; margin-left: 3px; margin-right: 1px;">Comando partida/parada: </label>
                    <input id="submit" type="submit" name="partir_ug1" value="Partir"/>
                    <input id="submit" type="submit" name="parar_ug1" value="Parar"/>
                    <div style="margin-top: 8px;"></div>
                    <label style="font-size: 16px; margin-left: 3px;">Alterar estado: </label>
                    <input id="submit" type="submit" name="manual" value="Manual" />
                    <input id="submit" type="submit" name="disponivel" value="Disponível" />
                    <input id="submit" type="submit" name="restrito" value="Restrito" />
                    <input id="submit" type="submit" name="indisponivel" value="Indisponível" />
                </form>
            </div>
        </div>
        <br>
        <br>

    </body>
</html>
{% endblock content %}
