{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #content_container {
            margin: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        
        #submit {
            padding-top: 2px;
            background-color: white;
        }

        #val_table {
            background-color: #111111;
            color: black;
            text-align: center;
            border: 1px solid gray;
        }

        #val_table th{
            border: 1px solid gray;
        }

        #val_table td{
            border: 1px solid gray;
        }

        input {
            padding-top: 4px;
            background-color: rgb(168, 168, 168);
        }
        
        #alvo_txt {
            padding-top: 2px;
            background-color: rgb(168, 168, 168);
        }

        h1 {
            color: white;
        }

        h3 {
            color: white;
        }

        tr {
            color: white;
        }

        th {
            color: white;
        }

        td{
            color: white;
        }

        label {
            color: white;
        }
        
        a {
            color: white;
        }
        
        p {
            color: white;
        }

        b {
            color: white;
        }
    </style>
</head>
<body>
    <div id="content_container">
        <h1 style="margin-bottom: 1px;">Parâmetros MOA</h1>
        <p style="margin-top: 15px; margin-bottom: 40px; font-size: 16px;">Página de configuração dos parâmetros usados pelo MOA</p>

        <form method='post' action='/parametros_moa/' style="margin-top: 40px;">
            {% csrf_token %}
            <div style="margin-bottom: 1px;">
                <table>
                    <tr>
                        <td>
                            <label style="font-size: 18px;"><b>Modo autônomo: </b></label>
                        </td>
                        <td>
                            {% if usina.modo_autonomo == 1 %}
                                <label style="font-size: 17px; margin-left: 5px; color: green">Ativado</label>
                            {% else %}
                                <label style="font-size: 17px; margin-left: 5px; color: red;">Desativado</label>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 1px;">
                <label style="font-size: 17px; margin-left: 3px;">Comando: </label>
                <input id="submit" type="submit" name="ativar_ma" value="Ativar">
                <input id="submit" type="submit" name="desativar_ma" value="Desativar">
            </div>
        </form>
        <form method='post' action='/parametros_moa/'>
            {% csrf_token %}
            <div style="margin-top: 30px;">
                <table>
                    <tr>
                        <td>
                            <label style="font-size: 18px;"><b>Priorização Unidades de Geração: </b></label>
                        </td>
                        <td>
                            {% if usina.modo_de_escolha_das_ugs == 0 %}
                                <label style="font-size: 17px; margin-left: 5px; color: blue">Horas-Máquina</label>
                            {% endif %}
                            {% if usina.modo_de_escolha_das_ugs == 1 and usina.ug1_prioridade == 100 %}
                                <label style="font-size: 17px; margin-left: 5px; color: orange">UG1</label>
                            {% endif %}
                            {% if usina.modo_de_escolha_das_ugs == 2 and usina.ug2_prioridade == 100 %}
                                <label style="font-size: 17px; margin-left: 5px; color: orange">UG2</label>
                            {% endif %}
                            {% if usina.modo_de_escolha_das_ugs == 3 and usina.ug3_prioridade == 100 %}
                                <label style="font-size: 17px; margin-left: 5px; color: orange">UG3</label>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 30px; margin-top: 1px;">
                <label style="font-size: 17px; margin-left: 3px;">Priorizar: </label>
                <input id="submit" type="submit" name="escolha_ugs0" value="Horas-Máquina"/>
                <input id="submit" type="submit" name="escolha_ugs1" value="UG1" />
                <input id="submit" type="submit" name="escolha_ugs2" value="UG2" />
                <input id="submit" type="submit" name="escolha_ugs3" value="UG3" />
            </div>
        </form>
        <form method='post' action='/parametros_moa/'>
            {% csrf_token %}
            <div style="margin-bottom: 20px;">
                <label style="font-size: 18px; margin-left: 3px;"><b>Nível alvo: </b></label>
                <input style="margin-left: 3px;" id="alvo_txt" name="nv_alvo" size=4 value="{{usina.nv_alvo}}"/>
                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="bnv_alvo" value="Salvar"/>
            </div>
            <div style="margin-bottom: 30px;">
                <label style="font-size: 18px; margin-left: 3px;"><b>UG1 - Pressão Caixa Espiral Alvo: </b></label>
                <input style="margin-left: 3px;" id="alvo_txt" name="press_cx_alvo" size=4 value="{{ usina.press_cx_alvo }}"/></td>
                <input style="padding-top: 2px; padding-bottom: 2px; margin-right: 3px;" id="submit" type="submit" name="bcx_alvo" value="Salvar"/>
                <!-- {% if usina.tda_offline == 0 %}
                    <label>(TDA: <a style="color: green;">On-line</a>)</label>
                {% else %}
                    <label>(TDA: <a style="color: red;">Off-line</a>)</label>
                {% endif %} -->
                <br>
            </div>
            <div style="margin-bottom: 30px;">
                <label style="font-size: 18px; margin-left: 3px;"><b>UG2 - Pressão CX Espiral Alvo: </b></label>
                <input style="margin-left: 3px;" id="alvo_txt" name="press_cx_alvo" size=4 value="{{ usina.press_cx_alvo }}"/></td>
                <input style="padding-top: 2px; padding-bottom: 2px; margin-right: 3px;" id="submit" type="submit" name="bcx_alvo" value="Salvar"/>
                <!-- {% if usina.tda_offline == 0 %}
                    <label>(TDA: <a style="color: green;">On-line</a>)</label>
                {% else %}
                    <label>(TDA: <a style="color: red;">Off-line</a>)</label>
                {% endif %} -->
                <br>
            </div>
            <div style="margin-bottom: 30px;">
                <label style="font-size: 18px; margin-left: 3px;"><b>UG3 - Pressão CX Espiral Alvo: </b></label>
                <input style="margin-left: 3px;" id="alvo_txt" name="press_cx_alvo" size=4 value="{{ usina.press_cx_alvo }}"/></td>
                <input style="padding-top: 2px; padding-bottom: 2px; margin-right: 3px;" id="submit" type="submit" name="bcx_alvo" value="Salvar"/>
                <!-- {% if usina.tda_offline == 0 %}
                    <label>(TDA: <a style="color: green;">On-line</a>)</label>
                {% else %}
                    <label>(TDA: <a style="color: red;">Off-line</a>)</label>
                {% endif %} -->
                <br>
            </div>
        </form>
        <form method='post' action='/parametros_moa/'>
            {% csrf_token %}
            <div style="margin-bottom: 20px; margin-top: 50px;">
                <b style="margin-bottom: 8px; font-size: 18px;">Limites de operação das Unidades de Geração: </b>
                <input id="submit" style="margin-left: 3px; margin-bottom: 7px;" name="salvar_params" type="submit" value="Salvar"/>
                <table id="val_table">
                    <tr>
                        <th style="width: 250px">Temperaturas</th>
                        <th>UG1 alerta</th>
                        <th>UG1 limite</th>
                        <th>UG2 alerta</th>
                        <th>UG2 limite</th>
                        <th>UG3 alerta</th>
                        <th>UG3 limite</th>
                    </tr>
                    
                    <tr>
                        <td>Fase R</td>
                        <td><input id="alerta_temperatura_fase_r_ug1" name="alerta_temperatura_fase_r_ug1" size=10 value="{{usina.alerta_temperatura_fase_r_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_r_ug1" name="limite_temperatura_fase_r_ug1" size=10 value="{{usina.limite_temperatura_fase_r_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_r_ug2" name="alerta_temperatura_fase_r_ug2" size=10 value="{{usina.alerta_temperatura_fase_r_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_r_ug2" name="limite_temperatura_fase_r_ug2" size=10 value="{{usina.limite_temperatura_fase_r_ug2}}"/></td>
                        <td><input id="alerta_temperatura_fase_r_ug3" name="alerta_temperatura_fase_r_ug3" size=10 value="{{usina.alerta_temperatura_fase_r_ug3}}"/></td>
                        <td><input id="limite_temperatura_fase_r_ug3" name="limite_temperatura_fase_r_ug3" size=10 value="{{usina.limite_temperatura_fase_r_ug3}}"/></td>
                    </tr>
                        
                    <tr>
                        <td>Fase S</td>
                        <td><input id="alerta_temperatura_fase_s_ug1" name="alerta_temperatura_fase_s_ug1" size=10 value="{{usina.alerta_temperatura_fase_s_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_s_ug1" name="limite_temperatura_fase_s_ug1" size=10 value="{{usina.limite_temperatura_fase_s_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_s_ug2" name="alerta_temperatura_fase_s_ug2" size=10 value="{{usina.alerta_temperatura_fase_s_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_s_ug2" name="limite_temperatura_fase_s_ug2" size=10 value="{{usina.limite_temperatura_fase_s_ug2}}"/></td>
                        <td><input id="alerta_temperatura_fase_s_ug3" name="alerta_temperatura_fase_s_ug3" size=10 value="{{usina.alerta_temperatura_fase_s_ug3}}"/></td>
                        <td><input id="limite_temperatura_fase_s_ug3" name="limite_temperatura_fase_s_ug3" size=10 value="{{usina.limite_temperatura_fase_s_ug3}}"/></td>
                    </tr>
                        
                    <tr>
                        <td>Fase T</td>
                        <td><input id="alerta_temperatura_fase_t_ug1" name="alerta_temperatura_fase_t_ug1" size=10 value="{{usina.alerta_temperatura_fase_t_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_t_ug1" name="limite_temperatura_fase_t_ug1" size=10 value="{{usina.limite_temperatura_fase_t_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_t_ug2" name="alerta_temperatura_fase_t_ug2" size=10 value="{{usina.alerta_temperatura_fase_t_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_t_ug2" name="limite_temperatura_fase_t_ug2" size=10 value="{{usina.limite_temperatura_fase_t_ug2}}"/></td>
                        <td><input id="alerta_temperatura_fase_t_ug3" name="alerta_temperatura_fase_t_ug3" size=10 value="{{usina.alerta_temperatura_fase_t_ug3}}"/></td>
                        <td><input id="limite_temperatura_fase_t_ug3" name="limite_temperatura_fase_t_ug3" size=10 value="{{usina.limite_temperatura_fase_t_ug3}}"/></td>
                    </tr>
        
                    <tr>
                        <td>Saída de Ar</td>
                        <td><input id="alerta_temperatura_saida_de_ar_ug1" name="alerta_temperatura_saida_de_ar_ug1" size=10 value="{{usina.alerta_temperatura_saida_de_ar_ug1}}"/></td>
                        <td><input id="limite_temperatura_saida_de_ar_ug1" name="limite_temperatura_saida_de_ar_ug1" size=10 value="{{usina.limite_temperatura_saida_de_ar_ug1}}"/></td>
                        <td><input id="alerta_temperatura_saida_de_ar_ug2" name="alerta_temperatura_saida_de_ar_ug2" size=10 value="{{usina.alerta_temperatura_saida_de_ar_ug2}}"/></td>
                        <td><input id="limite_temperatura_saida_de_ar_ug2" name="limite_temperatura_saida_de_ar_ug2" size=10 value="{{usina.limite_temperatura_saida_de_ar_ug2}}"/></td>
                        <td><input id="alerta_temperatura_saida_de_ar_ug3" name="alerta_temperatura_saida_de_ar_ug3" size=10 value="{{usina.alerta_temperatura_saida_de_ar_ug3}}"/></td>
                        <td><input id="limite_temperatura_saida_de_ar_ug3" name="limite_temperatura_saida_de_ar_ug3" size=10 value="{{usina.limite_temperatura_saida_de_ar_ug3}}"/></td>
                    </tr>
                        
                    <tr>
                        <td>Núcleo Estator</td>
                        <td><input id="alerta_temperatura_nucleo_estator_ug1" name="alerta_temperatura_nucleo_estator_ug1" size=10 value="{{usina.alerta_temperatura_nucleo_estator_ug1}}"/></td>
                        <td><input id="limite_temperatura_nucleo_estator_ug1" name="limite_temperatura_nucleo_estator_ug1" size=10 value="{{usina.limite_temperatura_nucleo_estator_ug1}}"/></td>
                        <td><input id="alerta_temperatura_nucleo_estator_ug2" name="alerta_temperatura_nucleo_estator_ug2" size=10 value="{{usina.alerta_temperatura_nucleo_estator_ug2}}"/></td>
                        <td><input id="limite_temperatura_nucleo_estator_ug2" name="limite_temperatura_nucleo_estator_ug2" size=10 value="{{usina.limite_temperatura_nucleo_estator_ug2}}"/></td>
                        <td><input id="alerta_temperatura_nucleo_estator_ug3" name="alerta_temperatura_nucleo_estator_ug3" size=10 value="{{usina.alerta_temperatura_nucleo_estator_ug3}}"/></td>
                        <td><input id="limite_temperatura_nucleo_estator_ug3" name="limite_temperatura_nucleo_estator_ug3" size=10 value="{{usina.limite_temperatura_nucleo_estator_ug3}}"/></td>
                    </tr>
        
                    <tr>
                        <td>Mancal Guia Radial</td>
                        <td><input id="alerta_temperatura_mancal_guia_radial_ug1" name="alerta_temperatura_mancal_guia_radial_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_radial_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_radial_ug1" name="limite_temperatura_mancal_guia_radial_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_radial_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_radial_ug2" name="alerta_temperatura_mancal_guia_radial_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_radial_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_radial_ug2" name="limite_temperatura_mancal_guia_radial_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_radial_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_radial_ug3" name="alerta_temperatura_mancal_guia_radial_ug3" size=10 value="{{usina.alerta_temperatura_mancal_guia_radial_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_radial_ug3" name="limite_temperatura_mancal_guia_radial_ug3" size=10 value="{{usina.limite_temperatura_mancal_guia_radial_ug3}}"/></td>
                    </tr>
                        
                    <tr>
                        <td>Mancal Guia Escora</td>
                        <td><input id="alerta_temperatura_mancal_guia_escora_ug1" name="alerta_temperatura_mancal_guia_escora_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_escora_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_escora_ug1" name="limite_temperatura_mancal_guia_escora_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_escora_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_escora_ug2" name="alerta_temperatura_mancal_guia_escora_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_escora_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_escora_ug2" name="limite_temperatura_mancal_guia_escora_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_escora_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_escora_ug3" name="alerta_temperatura_mancal_guia_escora_ug3" size=10 value="{{usina.alerta_temperatura_mancal_guia_escora_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_escora_ug3" name="limite_temperatura_mancal_guia_escora_ug3" size=10 value="{{usina.limite_temperatura_mancal_guia_escora_ug3}}"/></td>
                    </tr>
        
                    <tr>
                        <td>Mancal Guia Contra Escora</td>
                        <td><input id="alerta_temperatura_mancal_guia_contra_ug1" name="alerta_temperatura_mancal_guia_contra_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_contra_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_contra_ug1" name="limite_temperatura_mancal_guia_contra_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_contra_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_contra_ug2" name="alerta_temperatura_mancal_guia_contra_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_contra_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_contra_ug2" name="limite_temperatura_mancal_guia_contra_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_contra_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_guia_contra_ug3" name="alerta_temperatura_mancal_guia_contra_ug3" size=10 value="{{usina.alerta_temperatura_mancal_guia_contra_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_guia_contra_ug3" name="limite_temperatura_mancal_guia_contra_ug3" size=10 value="{{usina.limite_temperatura_mancal_guia_contra_ug3}}"/></td>
                    </tr>
                        
                    
                    <tr>
                        <td>Mancal Radial Traseiro 1</td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_1_ug1" name="alerta_temperatura_mancal_rad_tra_1_ug1" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_1_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_1_ug1" name="limite_temperatura_mancal_rad_tra_1_ug1" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_1_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_1_ug2" name="alerta_temperatura_mancal_rad_tra_1_ug2" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_1_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_1_ug2" name="limite_temperatura_mancal_rad_tra_1_ug2" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_1_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_1_ug3" name="alerta_temperatura_mancal_rad_tra_1_ug3" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_1_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_1_ug3" name="limite_temperatura_mancal_rad_tra_1_ug3" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_1_ug3}}"/></td>
                    </tr>
                    
                    <tr>
                        <td>Mancal Radial Traseiro 2</td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_2_ug1" name="alerta_temperatura_mancal_rad_tra_2_ug1" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_2_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_2_ug1" name="limite_temperatura_mancal_rad_tra_2_ug1" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_2_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_2_ug2" name="alerta_temperatura_mancal_rad_tra_2_ug2" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_2_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_2_ug2" name="limite_temperatura_mancal_rad_tra_2_ug2" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_2_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_tra_2_ug3" name="alerta_temperatura_mancal_rad_tra_2_ug3" size=10 value="{{usina.alerta_temperatura_mancal_rad_tra_2_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_tra_2_ug3" name="limite_temperatura_mancal_rad_tra_2_ug3" size=10 value="{{usina.limite_temperatura_mancal_rad_tra_2_ug3}}"/></td>
                    </tr>
        
                    <tr>
                        <td>Mancal Radial Dianteiro 1</td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_1_ug1" name="alerta_temperatura_mancal_rad_dia_1_ug1" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_1_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_1_ug1" name="limite_temperatura_mancal_rad_dia_1_ug1" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_1_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_1_ug2" name="alerta_temperatura_mancal_rad_dia_1_ug2" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_1_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_1_ug2" name="limite_temperatura_mancal_rad_dia_1_ug2" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_1_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_1_ug3" name="alerta_temperatura_mancal_rad_dia_1_ug3" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_1_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_1_ug3" name="limite_temperatura_mancal_rad_dia_1_ug3" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_1_ug3}}"/></td>
                    </tr>
                        
                    <tr>
                        <td>Mancal Radial Dianteiro 2</td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_2_ug1" name="alerta_temperatura_mancal_rad_dia_2_ug1" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_2_ug1}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_2_ug1" name="limite_temperatura_mancal_rad_dia_2_ug1" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_2_ug1}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_2_ug2" name="alerta_temperatura_mancal_rad_dia_2_ug2" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_2_ug2}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_2_ug2" name="limite_temperatura_mancal_rad_dia_2_ug2" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_2_ug2}}"/></td>
                        <td><input id="alerta_temperatura_mancal_rad_dia_2_ug3" name="alerta_temperatura_mancal_rad_dia_2_ug3" size=10 value="{{usina.alerta_temperatura_mancal_rad_dia_2_ug3}}"/></td>
                        <td><input id="limite_temperatura_mancal_rad_dia_2_ug3" name="limite_temperatura_mancal_rad_dia_2_ug3" size=10 value="{{usina.limite_temperatura_mancal_rad_dia_2_ug3}}"/></td>
                    </tr>
                    
                    <tr>
                        <td>Caixa Espiral</td>
                        <td><input id="alerta_caixa_espiral_ug1" name="alerta_caixa_espiral_ug1" size=10 value="{{usina.alerta_caixa_espiral_ug1}}"/></td>
                        <td><input id="limite_caixa_espiral_ug1" name="limite_caixa_espiral_ug1" size=10 value="{{usina.limite_caixa_espiral_ug1}}"/></td>
                        <td><input id="alerta_caixa_espiral_ug2" name="alerta_caixa_espiral_ug2" size=10 value="{{usina.alerta_caixa_espiral_ug2}}"/></td>
                        <td><input id="limite_caixa_espiral_ug2" name="limite_caixa_espiral_ug2" size=10 value="{{usina.limite_caixa_espiral_ug2}}"/></td>
                        <td><input id="alerta_caixa_espiral_ug3" name="alerta_caixa_espiral_ug3" size=10 value="{{usina.alerta_caixa_espiral_ug3}}"/></td>
                        <td><input id="limite_caixa_espiral_ug3" name="limite_caixa_espiral_ug3" size=10 value="{{usina.limite_caixa_espiral_ug3}}"/></td>
                    </tr>
                </table>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>
</body>
</html>
{% endblock content %}
