{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #content_container {
            margin: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }

        #submit {
            padding-top: 2px;
            background-color: white;
        }

        #val_table {
            background-color: #111111;
            color: black;
            text-align: center;
            border: 1px solid gray;
        }

        #val_table th{
            border: 1px solid gray;
        }

        #val_table td{
            border: 1px solid gray;
        }

        input {
            padding-top: 4px;
            background-color: rgb(168, 168, 168);
        }

        #alvo_txt {
            padding-top: 2px;
            background-color: rgb(168, 168, 168);
        }

        h1 {
            color: white;
        }

        h3 {
            color: white;
        }

        tr {
            color: white;
        }

        th {
            color: white;
        }

        td{
            color: white;
        }

        label {
            color: white;
        }

        a {
            color: white;
        }

        p {
            color: white;
        }

        b {
            color: white;
        }
    </style>
</head>
<body>
    <div id="content_container">
        <h1 style="margin-bottom: 1px; text-align: center;">Parâmetros MOA</h1>
        <p style="margin-top: 15px; margin-bottom: 40px; font-size: 16px; text-align: center;">Página de configuração dos parâmetros usados pelo MOA</p>

        <form method='post' action='/parametros_moa/'>
            {% csrf_token %}
            <div style="margin-bottom: 1px; justify-content: center; display: flex;">
                <table>
                    <tr>
                        <td>
                            <label style="font-size: 18px;"><b>Modo autônomo: </b></label>
                            {% if usina.modo_autonomo == 1 %}
                                <label style="font-size: 17px; margin-left: 5px; color: green">Ativado</label>
                            {% else %}
                                <label style="font-size: 17px; margin-left: 5px; color: red;">Desativado</label>
                            {% endif %}
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <label style="font-size: 17px;">Comando: </label>
                            <input id="submit" type="submit" name="ativar_ma" value="Ativar">
                            <input id="submit" type="submit" name="desativar_ma" value="Desativar">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <br>
        <br>
        <div style="justify-content: center; display: flex; margin-top: 10px;">
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <div style="margin-bottom: 1px; float: left;">
                    <table>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 18px;"><b>Priorização das Unidades de Geração: </b></label>
                                {% if usina.modo_de_escolha_das_ugs == 0 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: blue">Horas-Máquina</label>
                                {% endif %}
                                {% if usina.modo_de_escolha_das_ugs == 1 and usina.ug1_prioridade == 100 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange">UG1</label>
                                {% endif %}
                                {% if usina.modo_de_escolha_das_ugs == 2 and usina.ug2_prioridade == 100 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange">UG2</label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 17px;">Priorizar: </label>
                                <input id="submit" type="submit" name="escolha_ugs0" value="Horas-Máquina"/>
                                <input id="submit" type="submit" name="escolha_ugs1" value="UG1" />
                                <input id="submit" type="submit" name="escolha_ugs2" value="UG2" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <div style="margin-left: 20px;">
                    <table>
                        <tr>
                            <td>
                                <label style="font-size: 18px;"><b>Nível Alvo (MOA): </b></label>
                                {% if tag_alvo == 3 %}
                                    <label style="color: red">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_alvo == 2 %}
                                    <label style="color: green">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_alvo == 1 %}
                                    <label style="color: yellow">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_alvo == 0 %}
                                    <label style="color: red">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 17px;">Valor: </label>
                                <input style="margin-left: 3px;" id="alvo_txt" name="nv_alvo" size=4 value="{{usina.nv_alvo}}"/>
                                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="bnv_alvo" value="Salvar"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
        <div style="justify-content: center; display: flex;">
            <label style="font-size: 20px;"><b>Limpa Grades: </b></label>
            {% if usina.modo_lg == 0 %}
                <label style="font-size: 17px; margin-top: 3px; margin-left: 3px; color: red;">Indisponível</label>
            {% endif %}
            {% if usina.modo_lg == 1 %}
                <label style="font-size: 17px; margin-top: 3px; margin-left: 3px; color: green;">Disponível</label>
            {% endif %}
            {% if usina.modo_lg == 2 %}
                <label style="font-size: 17px; margin-top: 3px; margin-left: 3px; color: orange;">Manual</label>
            {% endif %}
        </div>
        <div style="justify-content: center; display: flex; margin-top: 10px;">
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <div>
                    <table>
                        <tr>
                            <td  style="text-align: center;">
                                <label style="font-size: 18px;"><b>Disparo por Período: </b></label>
                                <label style="font-size: 14px;">{{ usina.horario_disparo_lg|date:"j-n-o H:i:s" }}</label>
                            </td>
                            <td  style="text-align: center;">
                                <label style="font-size: 18px; margin-left: 50px;"><b>Disparo por Perda na Grade: </b></label>
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 17px;">Dias: </label>
                                <input id="lg_d_text" name="lg_d" size=1 value="{{usina.t_dias_disparo_lg}}"/>
                                <label style="margin-left: 3px; font-size: 17px;">Horas: </label>
                                <input id="lg_h_text" name="lg_h" size=1 value="{{usina.t_horas_disparo_lg}}"/>
                                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="disp_lg_t" value="Salvar"/>
                                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="disp_lg_r" value="Reset"/>
                            </td>
                            <td>
                                <label style="margin-left: 51px; font-size: 17px;">UG1: </label>
                                <input id="lg_ug1_text" name="lg_ug1" size=1 value="{{usina.valor_disparo_lg_p1}}"/>
                                <label style="margin-left: 10px; font-size: 17px;">UG2: </label>
                                <input id="lg_ug2_text" name="lg_ug2" size=1 value="{{usina.valor_disparo_lg_p2}}"/>
                                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="disp_lg_ug" value="Salvar"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <br>
        <div style="margin-top: 50px; justify-content: center; display: flex;">
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <b style="font-size: 18px;">Limites de Perda na Grade: </b>
                            <input id="submit" name="salvar_perda" type="submit" value="Salvar"/>
                        </td>
                        <td style="width: 40%; text-align: center;">
                            <a style="font-size: 18px;"><b>Limites de Operação do Transformador Elevador: </b></a>
                            <input id="submit" name="salvar_trafo" type="submit" value="Salvar"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="val_table">
                                <tr>
                                    <th>Grade</th>
                                    <th>Alerta Perda</th>
                                    <th>Perda Máxima</th>
                                </tr>
                                <tr>
                                    <td>UG 1</td>
                                    <td><input id="alerta_perda_grade_ug1" name="alerta_perda_grade_ug1" size=10 value="{{usina.alerta_perda_grade_ug1}}"/></td>
                                    <td><input id="ug1_perda_grade_maxima" name="ug1_perda_grade_maxima" size=10 value="{{usina.ug1_perda_grade_maxima}}"/></td>
                                </tr>
                                <tr>
                                    <td>UG 2</td>
                                    <td><input id="alerta_perda_grade_ug2" name="alerta_perda_grade_ug2" size=10 value="{{usina.alerta_perda_grade_ug2}}"/></td>
                                    <td><input id="ug2_perda_grade_maxima" name="ug2_perda_grade_maxima" size=10 value="{{usina.ug2_perda_grade_maxima}}"/></td>
                                </tr>
                            </table>
                        </td>
                        <td style="justify-content: center; display: flex;">
                            <table id="val_table">
                                <tr>
                                    <th>Temperaturas</th>
                                    <th>Alerta</th>
                                    <th>Limite</th>
                                </tr>
                                <tr>
                                    <td>Óleo</td>
                                    <td><input id="alerta_temperatura_oleo_trafo" name="alerta_temperatura_oleo_trafo" size=10 value="{{usina.alerta_temperatura_oleo_trafo}}"/></td>
                                    <td><input id="limite_temperatura_oleo_trafo" name="limite_temperatura_oleo_trafo" size=10 value="{{usina.limite_temperatura_oleo_trafo}}"/></td>
                                </tr>
                                <tr>
                                    <td>Enrolamento</td>
                                    <td><input id="alerta_temperatura_enrolamento_trafo" name="alerta_temperatura_enrolamento_trafo" size=10 value="{{usina.alerta_temperatura_enrolamento_trafo}}"/></td>
                                    <td><input id="limite_temperatura_enrolamento_trafo" name="limite_temperatura_enrolamento_trafo" size=10 value="{{usina.limite_temperatura_enrolamento_trafo}}"/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                <div style="margin-top: 30px; justify-content: center; display: flex;">
                    <b style="margin-bottom: 8px; font-size: 18px;">Limites de Operação das Unidades de Geração: </b>
                    <input id="submit" style="margin-left: 3px; margin-bottom: 7px;" name="salvar_params" type="submit" value="Salvar"/>
                </div>
                <div style="justify-content: center; display: flex;">
                    <table id="val_table">
                        <tr>
                            <th>Temperaturas</th>
                            <th>UG1 Alerta</th>
                            <th>UG1 Limite</th>
                            <th>UG2 Alerta</th>
                            <th>UG2 Limite</th>
                        </tr>

                        <tr>
                            <td>Fase R</td>
                            <td><input id="alerta_temperatura_fase_r_ug1" name="alerta_temperatura_fase_r_ug1" size=10 value="{{usina.alerta_temperatura_fase_r_ug1}}"/></td>
                            <td><input id="limite_temperatura_fase_r_ug1" name="limite_temperatura_fase_r_ug1" size=10 value="{{usina.limite_temperatura_fase_r_ug1}}"/></td>
                            <td><input id="alerta_temperatura_fase_r_ug2" name="alerta_temperatura_fase_r_ug2" size=10 value="{{usina.alerta_temperatura_fase_r_ug2}}"/></td>
                            <td><input id="limite_temperatura_fase_r_ug2" name="limite_temperatura_fase_r_ug2" size=10 value="{{usina.limite_temperatura_fase_r_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Fase S</td>
                            <td><input id="alerta_temperatura_fase_s_ug1" name="alerta_temperatura_fase_s_ug1" size=10 value="{{usina.alerta_temperatura_fase_s_ug1}}"/></td>
                            <td><input id="limite_temperatura_fase_s_ug1" name="limite_temperatura_fase_s_ug1" size=10 value="{{usina.limite_temperatura_fase_s_ug1}}"/></td>
                            <td><input id="alerta_temperatura_fase_s_ug2" name="alerta_temperatura_fase_s_ug2" size=10 value="{{usina.alerta_temperatura_fase_s_ug2}}"/></td>
                            <td><input id="limite_temperatura_fase_s_ug2" name="limite_temperatura_fase_s_ug2" size=10 value="{{usina.limite_temperatura_fase_s_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Fase T</td>
                            <td><input id="alerta_temperatura_fase_t_ug1" name="alerta_temperatura_fase_t_ug1" size=10 value="{{usina.alerta_temperatura_fase_t_ug1}}"/></td>
                            <td><input id="limite_temperatura_fase_t_ug1" name="limite_temperatura_fase_t_ug1" size=10 value="{{usina.limite_temperatura_fase_t_ug1}}"/></td>
                            <td><input id="alerta_temperatura_fase_t_ug2" name="alerta_temperatura_fase_t_ug2" size=10 value="{{usina.alerta_temperatura_fase_t_ug2}}"/></td>
                            <td><input id="limite_temperatura_fase_t_ug2" name="limite_temperatura_fase_t_ug2" size=10 value="{{usina.limite_temperatura_fase_t_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Núcleo Gerador</td>
                            <td><input id="alerta_temperatura_nucleo_gerador_1_ug1" name="alerta_temperatura_nucleo_gerador_1_ug1" size=10 value="{{usina.alerta_temperatura_nucleo_gerador_1_ug1}}"/></td>
                            <td><input id="limite_temperatura_nucleo_gerador_1_ug1" name="limite_temperatura_nucleo_gerador_1_ug1" size=10 value="{{usina.limite_temperatura_nucleo_gerador_1_ug1}}"/></td>
                            <td><input id="alerta_temperatura_nucleo_gerador_1_ug2" name="alerta_temperatura_nucleo_gerador_1_ug2" size=10 value="{{usina.alerta_temperatura_nucleo_gerador_1_ug2}}"/></td>
                            <td><input id="limite_temperatura_nucleo_gerador_1_ug2" name="limite_temperatura_nucleo_gerador_1_ug2" size=10 value="{{usina.limite_temperatura_nucleo_gerador_1_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Mancal Guia</td>
                            <td><input id="alerta_temperatura_mancal_guia_ug1" name="alerta_temperatura_mancal_guia_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_ug1}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_ug1" name="limite_temperatura_mancal_guia_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_ug1}}"/></td>
                            <td><input id="alerta_temperatura_mancal_guia_ug2" name="alerta_temperatura_mancal_guia_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_ug2}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_ug2" name="limite_temperatura_mancal_guia_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Mancal Guia Interno 1</td>
                            <td><input id="alerta_temperatura_mancal_guia_interno_1_ug1" name="alerta_temperatura_mancal_guia_interno_1_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_interno_1_ug1}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_interno_1_ug1" name="limite_temperatura_mancal_guia_interno_1_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_interno_1_ug1}}"/></td>
                            <td><input id="alerta_temperatura_mancal_guia_interno_1_ug2" name="alerta_temperatura_mancal_guia_interno_1_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_interno_1_ug2}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_interno_1_ug2" name="limite_temperatura_mancal_guia_interno_1_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_interno_1_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Mancal Guia Interno 2</td>
                            <td><input id="alerta_temperatura_mancal_guia_interno_2_ug1" name="alerta_temperatura_mancal_guia_interno_2_ug1" size=10 value="{{usina.alerta_temperatura_mancal_guia_interno_2_ug1}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_interno_2_ug1" name="limite_temperatura_mancal_guia_interno_2_ug1" size=10 value="{{usina.limite_temperatura_mancal_guia_interno_2_ug1}}"/></td>
                            <td><input id="alerta_temperatura_mancal_guia_interno_2_ug2" name="alerta_temperatura_mancal_guia_interno_2_ug2" size=10 value="{{usina.alerta_temperatura_mancal_guia_interno_2_ug2}}"/></td>
                            <td><input id="limite_temperatura_mancal_guia_interno_2_ug2" name="limite_temperatura_mancal_guia_interno_2_ug2" size=10 value="{{usina.limite_temperatura_mancal_guia_interno_2_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Patins Mancal Combinado 1</td>
                            <td><input id="alerta_temperatura_patins_mancal_comb_1_ug1" name="alerta_temperatura_patins_mancal_comb_1_ug1" size=10 value="{{usina.alerta_temperatura_patins_mancal_comb_1_ug1}}"/></td>
                            <td><input id="limite_temperatura_patins_mancal_comb_1_ug1" name="limite_temperatura_patins_mancal_comb_1_ug1" size=10 value="{{usina.limite_temperatura_patins_mancal_comb_1_ug1}}"/></td>
                            <td><input id="alerta_temperatura_patins_mancal_comb_1_ug2" name="alerta_temperatura_patins_mancal_comb_1_ug2" size=10 value="{{usina.alerta_temperatura_patins_mancal_comb_1_ug2}}"/></td>
                            <td><input id="limite_temperatura_patins_mancal_comb_1_ug2" name="limite_temperatura_patins_mancal_comb_1_ug2" size=10 value="{{usina.limite_temperatura_patins_mancal_comb_1_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Patins Mancal Combinado 2</td>
                            <td><input id="alerta_temperatura_patins_mancal_comb_2_ug1" name="alerta_temperatura_patins_mancal_comb_2_ug1" size=10 value="{{usina.alerta_temperatura_patins_mancal_comb_2_ug1}}"/></td>
                            <td><input id="limite_temperatura_patins_mancal_comb_2_ug1" name="limite_temperatura_patins_mancal_comb_2_ug1" size=10 value="{{usina.limite_temperatura_patins_mancal_comb_2_ug1}}"/></td>
                            <td><input id="alerta_temperatura_patins_mancal_comb_2_ug2" name="alerta_temperatura_patins_mancal_comb_2_ug2" size=10 value="{{usina.alerta_temperatura_patins_mancal_comb_2_ug2}}"/></td>
                            <td><input id="limite_temperatura_patins_mancal_comb_2_ug2" name="limite_temperatura_patins_mancal_comb_2_ug2" size=10 value="{{usina.limite_temperatura_patins_mancal_comb_2_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Mancal Casquilho Combinado</td>
                            <td><input id="alerta_temperatura_mancal_casq_comb_ug1" name="alerta_temperatura_mancal_casq_comb_ug1" size=10 value="{{usina.alerta_temperatura_mancal_casq_comb_ug1}}"/></td>
                            <td><input id="limite_temperatura_mancal_casq_comb_ug1" name="limite_temperatura_mancal_casq_comb_ug1" size=10 value="{{usina.limite_temperatura_mancal_casq_comb_ug1}}"/></td>
                            <td><input id="alerta_temperatura_mancal_casq_comb_ug2" name="alerta_temperatura_mancal_casq_comb_ug2" size=10 value="{{usina.alerta_temperatura_mancal_casq_comb_ug2}}"/></td>
                            <td><input id="limite_temperatura_mancal_casq_comb_ug2" name="limite_temperatura_mancal_casq_comb_ug2" size=10 value="{{usina.limite_temperatura_mancal_casq_comb_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Mancal Contra Escora Combinado</td>
                            <td><input id="alerta_temperatura_mancal_contra_esc_comb_ug1" name="alerta_temperatura_mancal_contra_esc_comb_ug1" size=10 value="{{usina.alerta_temperatura_mancal_contra_esc_comb_ug1}}"/></td>
                            <td><input id="limite_temperatura_mancal_contra_esc_comb_ug1" name="limite_temperatura_mancal_contra_esc_comb_ug1" size=10 value="{{usina.limite_temperatura_mancal_contra_esc_comb_ug1}}"/></td>
                            <td><input id="alerta_temperatura_mancal_contra_esc_comb_ug2" name="alerta_temperatura_mancal_contra_esc_comb_ug2" size=10 value="{{usina.alerta_temperatura_mancal_contra_esc_comb_ug2}}"/></td>
                            <td><input id="limite_temperatura_mancal_contra_esc_comb_ug2" name="limite_temperatura_mancal_contra_esc_comb_ug2" size=10 value="{{usina.limite_temperatura_mancal_contra_esc_comb_ug2}}"/></td>
                        </tr>

                        <tr>
                            <td>Pressão Entrada Turbina</td>
                            <td><input id="alerta_pressao_turbina_ug1" name="alerta_pressao_turbina_ug1" size=10 value="{{usina.alerta_pressao_turbina_ug1}}"/></td>
                            <td><input id="limite_pressao_turbina_ug1" name="limite_pressao_turbina_ug1" size=10 value="{{usina.limite_pressao_turbina_ug1}}"/></td>
                            <td><input id="alerta_pressao_turbina_ug2" name="alerta_pressao_turbina_ug2" size=10 value="{{usina.alerta_pressao_turbina_ug2}}"/></td>
                            <td><input id="limite_pressao_turbina_ug2" name="limite_pressao_turbina_ug2" size=10 value="{{usina.limite_pressao_turbina_ug2}}"/></td>

                        </tr>

                    </table>
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>
{% endblock content %}
</html>
