{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #content_container {
            margin: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }

        #submit {
            padding-top: 2px;
            background-color: white;
        }

        #val_table {
            background-color: #111111;
            color: black;
            text-align: center;
            border: 1px solid gray;
        }

        #val_table th{
            border: 1px solid gray;
        }

        #val_table td{
            border: 1px solid gray;
        }

        input {
            padding-top: 4px;
            background-color: rgb(168, 168, 168);
        }

        #alvo_txt {
            padding-top: 2px;
            background-color: rgb(168, 168, 168);
        }

        h1 {
            color: white;
        }

        h3 {
            color: white;
        }

        tr {
            color: white;
        }

        th {
            color: white;
        }

        td{
            color: white;
        }

        label {
            color: white;
        }

        a {
            color: white;
        }

        p {
            color: white;
        }

        b {
            color: white;
        }
    </style>
</head>
<body>
    <div id="content_container">
        <h1 style="margin-bottom: 1px; text-align: center;">Parâmetros MOA</h1>
        <p style="margin-top: 15px; margin-bottom: 40px; font-size: 16px; text-align: center;">Página de configuração dos parâmetros usados pelo MOA</p>

        <form method='post' action='/parametros_moa/' style="margin-top: 40px;">
            {% csrf_token %}
            <div style="margin-bottom: 1px; justify-content: center; display: flex;">
                <table>
                    <tr>
                        <td>
                            <label style="font-size: 18px;"><b>Modo autônomo: </b></label>
                            {% if usina.modo_autonomo == 1 %}
                                <label style="font-size: 17px; margin-left: 5px; color: green">Ativado</label>
                            {% else %}
                                <label style="font-size: 17px; margin-left: 5px; color: red;">Desativado</label>
                            {% endif %}
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>
                            <label style="font-size: 17px; margin-left: 3px;">Comando: </label>
                            <input id="submit" type="submit" name="ativar_ma" value="Ativar">
                            <input id="submit" type="submit" name="desativar_ma" value="Desativar">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <br>
        <br>
        <div style="justify-content: center; display: flex; margin-top: 10px;">
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <div>
                    <table style="margin-left: 20px;">
                        <tr>
                            <td>
                                <label style="font-size: 18px;"><b>Modo de Priorização das Unidades de Geração: </b></label>
                                {% if usina.modo_de_escolha_das_ugs == 1 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: blue">Horas-Máquina</label>
                                {% endif %}
                                {% if usina.modo_de_escolha_das_ugs == 2 and usina.ug1_prioridade == 100 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange">UG1</label>
                                {% endif %}
                                {% if usina.modo_de_escolha_das_ugs == 2 and usina.ug2_prioridade == 100 %}
                                    <label style="font-size: 17px; margin-left: 5px; color: orange">UG2</label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 17px;">Priorizar: </label>
                                <input id="submit" type="submit" name="escolha_ugs0" value="Horas-Máquina"/>
                                <input id="submit" type="submit" name="escolha_ugs1" value="UG1" />
                                <input id="submit" type="submit" name="escolha_ugs2" value="UG2" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <div>
                    <table style="margin-left: 20px;">
                        <tr>
                            <td>
                                <label style="font-size: 18px;"><b>Nível Alvo (MOA): </b></label>
                                {% if tag_nv_alvo == 3 %}
                                    <label style="font-size: 17px; color: red">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_nv_alvo == 2 %}
                                    <label style="font-size: 17px; color: green">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_nv_alvo == 1 %}
                                    <label style="font-size: 17px; color: yellow">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                                {% if tag_nv_alvo == 0 %}
                                    <label style="font-size: 17px; color: red">{{ usina.nv_alvo }}</label>
                                    <a> m</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td>
                                <label style="font-size: 17px;">Valor: </label>
                                <input style="margin-left: 3px;" id="alvo_txt" name="nv_alvo" size=4 value="{{usina.nv_alvo}}"/>
                                <input style="padding-top: 2px; padding-bottom: 2px;" id="submit" type="submit" name="bnv_alvo" value="Salvar"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <br>
        <div style="margin-top: 50px; justify-content: center; display: flex;">
            <form method='post' action='/parametros_moa/'>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <b style="font-size: 18px;">Limites de Perda na Grade: </b>
                            <input id="submit" name="salvar_perda" type="submit" value="Salvar"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="val_table" style="margin-left: 32px;">
                                <tr>
                                    <th>Alerta Perda</th>
                                    <th>Perda Máxima</th>
                                </tr>
                                <tr>
                                    <td><input id="alerta_perda_grade" name="alerta_perda_grade" size=10 value="{{usina.alerta_perda_grade}}"/></td>
                                    <td><input id="limite_perda_grade" name="limite_perda_grade" size=10 value="{{usina.limite_perda_grade}}"/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br>
        <br>
        <form method='post' action='/parametros_moa/'>
            {% csrf_token %}
            <div style="justify-content: center; display: flex;">
                <b style="margin-bottom: 8px; font-size: 18px;">Limites de Operação das Unidades de Geração: </b>
                <input id="submit" style="margin-left: 3px; margin-bottom: 7px;" name="salvar_params" type="submit" value="Salvar"/>
            </div>
            <div style="justify-content: center; display: flex;">
                <table id="val_table">
                    <tr>
                        <th>Limites</th>
                        <th>UG1 alerta</th>
                        <th>UG1 limite</th>
                        <th>UG2 alerta</th>
                        <th>UG2 limite</th>
                    </tr>

                    <tr>
                        <td>Fase A</td>
                        <td><input id="alerta_temperatura_fase_a_ug1" name="alerta_temperatura_fase_a_ug1" size=10 value="{{usina.alerta_temperatura_fase_a_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_a_ug1" name="limite_temperatura_fase_a_ug1" size=10 value="{{usina.limite_temperatura_fase_a_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_a_ug2" name="alerta_temperatura_fase_a_ug2" size=10 value="{{usina.alerta_temperatura_fase_a_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_a_ug2" name="limite_temperatura_fase_a_ug2" size=10 value="{{usina.limite_temperatura_fase_a_ug2}}"/></td>
                    </tr>

                    <tr>
                        <td>Fase B</td>
                        <td><input id="alerta_temperatura_fase_b_ug1" name="alerta_temperatura_fase_b_ug1" size=10 value="{{usina.alerta_temperatura_fase_b_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_b_ug1" name="limite_temperatura_fase_b_ug1" size=10 value="{{usina.limite_temperatura_fase_b_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_b_ug2" name="alerta_temperatura_fase_b_ug2" size=10 value="{{usina.alerta_temperatura_fase_b_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_b_ug2" name="limite_temperatura_fase_b_ug2" size=10 value="{{usina.limite_temperatura_fase_b_ug2}}"/></td>
                    </tr>

                    <tr>
                        <td>Fase C</td>
                        <td><input id="alerta_temperatura_fase_c_ug1" name="alerta_temperatura_fase_c_ug1" size=10 value="{{usina.alerta_temperatura_fase_c_ug1}}"/></td>
                        <td><input id="limite_temperatura_fase_c_ug1" name="limite_temperatura_fase_c_ug1" size=10 value="{{usina.limite_temperatura_fase_c_ug1}}"/></td>
                        <td><input id="alerta_temperatura_fase_c_ug2" name="alerta_temperatura_fase_c_ug2" size=10 value="{{usina.alerta_temperatura_fase_c_ug2}}"/></td>
                        <td><input id="limite_temperatura_fase_c_ug2" name="limite_temperatura_fase_c_ug2" size=10 value="{{usina.limite_temperatura_fase_c_ug2}}"/></td>
                    </tr>

                    <tr>
                        <td>Rolamento Dianteiro</td>
                        <td><input id="alerta_temperatura_rolamento_dianteiro_ug1" name="alerta_temperatura_rolamento_dianteiro_ug1" size=10 value="{{usina.alerta_temperatura_rolamento_dianteiro_ug1}}"/></td>
                        <td><input id="limite_temperatura_rolamento_dianteiro_ug1" name="limite_temperatura_rolamento_dianteiro_ug1" size=10 value="{{usina.limite_temperatura_rolamento_dianteiro_ug1}}"/></td>
                        <td><input id="alerta_temperatura_rolamento_dianteiro_ug2" name="alerta_temperatura_rolamento_dianteiro_ug2" size=10 value="{{usina.alerta_temperatura_rolamento_dianteiro_ug2}}"/></td>
                        <td><input id="limite_temperatura_rolamento_dianteiro_ug2" name="limite_temperatura_rolamento_dianteiro_ug2" size=10 value="{{usina.limite_temperatura_rolamento_dianteiro_ug2}}"/></td>
                    </tr>

                    <tr>
                        <td>Rolamento Traseiro</td>
                        <td><input id="alerta_temperatura_rolamento_traseiro_ug1" name="alerta_temperatura_rolamento_traseiro_ug1" size=10 value="{{usina.alerta_temperatura_rolamento_traseiro_ug1}}"/></td>
                        <td><input id="limite_temperatura_rolamento_traseiro_ug1" name="limite_temperatura_rolamento_traseiro_ug1" size=10 value="{{usina.limite_temperatura_rolamento_traseiro_ug1}}"/></td>
                        <td><input id="alerta_temperatura_rolamento_traseiro_ug2" name="alerta_temperatura_rolamento_traseiro_ug2" size=10 value="{{usina.alerta_temperatura_rolamento_traseiro_ug2}}"/></td>
                        <td><input id="limite_temperatura_rolamento_traseiro_ug2" name="limite_temperatura_rolamento_traseiro_ug2" size=10 value="{{usina.limite_temperatura_rolamento_traseiro_ug2}}"/></td>
                    </tr>

                    <tr>
                        <td>Gaxeteiro</td>
                        <td><input id="alerta_temperatura_gaxeteiro_ug1" name="alerta_temperatura_gaxeteiro_ug1" size=10 value="{{usina.alerta_temperatura_gaxeteiro_ug1}}"/></td>
                        <td><input id="limite_temperatura_gaxeteiro_ug1" name="limite_temperatura_gaxeteiro_ug1" size=10 value="{{usina.limite_temperatura_gaxeteiro_ug1}}"/></td>
                        <td><input id="alerta_temperatura_gaxeteiro_ug2" name="alerta_temperatura_gaxeteiro_ug2" size=10 value="{{usina.alerta_temperatura_gaxeteiro_ug2}}"/></td>
                        <td><input id="limite_temperatura_gaxeteiro_ug2" name="limite_temperatura_gaxeteiro_ug2" size=10 value="{{usina.limite_temperatura_gaxeteiro_ug2}}"/></td>
                    </tr>
                </table>
            </div>
        </form>
        <br>
        <br>
    </div>
</body>
</html>
{% endblock content %}
