{% extends "base.html" %}

{% block content %}
<h1>Agendamentos MOA</h1>
<p>Página de Agendamentos.</p>
<a href="novo_agendamento_rapido">Novo agendamento rápido</a></br>
<a href="novo_agendamento">Novo agendamento</a>
<h3>Lista de Agendamentos</h3>
<table style="text-align:center" border="solid 1px black">
    <tr height="75px">
       <th width="50px">id</th>
       <th width="200px">Data e Hora</th>
       <th width="250px">Código Comando</th>
       <th width="500px" style="text-align:left">Observações</th>
    </tr>
    {% for ag in agendamentos %}
    <tr height="50px">
        <td><a href="{{ ag.id }}/">{{ ag.id}}</a></td>
        <td>{{ ag.data|date:"d/M/Y - H:i:s" }}</td>
        <td>{{ ag.comando.id}} - {{ ag.comando.nome }}</td>
        <td style="text-align:left">{{ ag.observacao}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<b>Referência dos códigos dos comandos</b>
<table style="text-align:center" border="solid 1px black">
    <tr>
       <th width="50px">id</th>
       <th width="250px">Comando</th>
       <th width="700px">Descrição</th>
    </tr>
    {% for comando in comandos %}
    <tr><td>{{ comando.id }}</td><td>{{ comando.nome }}</td><td>{{ comando.descricao }}</td></tr>
    {% endfor %}
</table>
<br>
<h3>Lista de Agendamentos executados</h3>
<table style="text-align:center" border="solid 1px black">
    <tr height="75px">
       <th width="50px">id</th>
       <th width="200px">Data e Hora</th>
       <th width="250px">Código Comando</th>
       <th width="500px" style="text-align:left">Observações</th>
    </tr>
    {% for ag in agendamentos_executados %}
    <tr height="50px">
        <td><a href="{{ ag.id }}/">{{ ag.id}}</a></td>
        <td>{{ ag.data|date:"d/M/Y - H:i:s" }}</td>
        <td>{{ ag.comando.id}} - {{ ag.comando.nome }}</td>
        <td style="text-align:left">{{ ag.observacao}}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<br/>
<br/>
<br/>
{% endblock content %}
