{% extends "base.html" %}

{% block content %}


<div id="content_container">

    <h1>Emergência</h1>
    <p>Página de emergência.</p>
    <br>
    <h3>MOA</h3>
    <p>Atualizado em  {{ timestamp }}</p>
    <p>Estado:  {{ descr }}</p>
    <form method='post' action='/parametros_moa/emergencia/'>
        {% csrf_token %}
        {% if estado > 0 %}
            <input type="hidden" id="codigo_emergencia" name="codigo_emergencia" value="0">
            <input type="submit" value="Remover Emergência"/>
        {% else %}
            <input type="hidden" id="codigo_emergencia" name="codigo_emergencia" value="100">
            <input type="submit" value="Acionar emergência (cod 100)"/>
        {% endif %}
    </form>
</div>

{% endblock content %}
