{% extends "base.html" %}

{% block content %}


<div id="content_container">
    <h1>Monitoramento</h1>
    <p>Página de monitoramento. Atualiza a cada 2 segundos.</p>
    <h3>MOA</h3>
    <p>Atualizado em  {{ timestamp }} ({{ tempo_desde_moa_comunicando }} atrás)</p>
    <p>Estado:  {{ estado }}</p>
    <p>Emergencia:  {{ em_acionada }}</p>
    <p>Estado CLP:  {{ CLP_ON }} @ {{ CLP_IP }}</p>
    <p>Set-point usina: {{ setpot_usina }} MW</p>
    <p>UG1: {{ pot_ug1 }} MW (SP: {{ setpot_ug1 }} | Horas máquina: {{ tempo_ug1 }} h | Temp.: {{ usina.ug1_temp_mancal | floatformat:2 }} ﹾC | Perda na grade: {{ usina.ug1_perda_grade | floatformat:2 }} m)</p>
    <p>UG2: {{ pot_ug2 }} MW (SP: {{ setpot_ug2 }} | Horas máquina: {{ tempo_ug2 }} h | Temp.: {{ usina.ug2_temp_mancal | floatformat:2 }} ﹾC | Perda na grade: {{ usina.ug2_perda_grade | floatformat:2 }} m)</p>
    <p>Nv alvo: {{ nv_alvo }} m</p>
    <p>Aguardando reservatório? {{ aguardo }}.</p>
    <p>Nv montante: {{ nv_montante }} m</p>
    </br>
    </br>
    <h3>MOA Modbus Slave</h3>
    <p>Endereço : {{ LOCAL_MODBUS_IP }}:{{ LOCAL_MODBUS_PORT }}.</p>
    <p>Status: {{ modbus_status}}.</p>
    <p>Heart-beat: {{ hb_datestring }}</p>
</div>

<script type = "text/JavaScript">
setTimeout("location.reload(true);", 2000);
</script>

{% endblock content %}
