{% extends "base.html" %}

{% block content %}


<div id="content_container">
    <h1>Monitoramento</h1>
    <p>Página de monitoramento. Atualiza a cada 2 segundos.</p>
    <p>Atualizado em  {{ timestamp }} ({{ tempo_desde_moa_comunicando }} atrás)</p>
    
    <h3>TDA:</h3>
    <p>Nível alvo: {{ nv_alvo }} m<br>
    Nível montante: {{ nv_montante }} m</p>
    <hr style="height:10pt; visibility:hidden;" />
    <h3>USINA:</h3>
    <p>Set-point usina: {{ setpot_usina }} MW</p>
    
    <p><b>UG1:</b> {{ pot_ug1 | floatformat:0 }} kW <br>
    Estado (MOA): {{ ug1_state }} <br>
    Etapa: {{ ug1_etapa }} <br>
    SP: {{ setpot_ug1 | floatformat:0 }} kW <br>
    Horas máquina: {{ tempo_ug1 | floatformat:2 }} h </p>

    <p><b>UG2:</b> {{ pot_ug2 | floatformat:0 }} kW <br>
    Estado (MOA): {{ ug2_state }} <br>
    Etapa: {{ ug2_etapa }} <br>
    SP: {{ setpot_ug2 | floatformat:0 }} kW <br>
    Horas máquina: {{ tempo_ug2 | floatformat:2 }} h <br>

    <p><b>UG3:</b> {{ pot_ug3 | floatformat:0 }} kW <br>
    Estado (MOA): {{ ug3_state }} <br>
    Etapa: {{ ug3_etapa }} <br>
    SP: {{ setpot_ug3 | floatformat:0 }} kW <br>
    Horas máquina: {{ tempo_ug3 | floatformat:2 }} h <br>
    <hr style="height:10pt; visibility:hidden;" />
    <h3>MOA:</h3>
    <p>Estado:  {{ estado }}<br>
    Emergencia:  {{ em_acionada }}<br>
    Aguardando reservatório? {{ aguardo }}.<br>
    Estado CLP:  {{ CLP_ON }} @ {{ CLP_IP }}</p>
    
    <h3>MOA Modbus Slave</h3>
    <p>Porta:{{ LOCAL_MODBUS_PORT }}.<br>
    Status: {{ modbus_status}}.<br>
    Heart-beat: {{ hb_datestring }}</p>
</div>

<script type = "text/JavaScript">
setTimeout("location.reload(true);", 2000);
</script>

{% endblock content %}
