{% extends "base.html" %}

{% block content %}

<h1>Novo agendamento rápido</h1>

<h4>Comandos gerais:</h4>
{% for comando in comandos %}
<form method='post' action='/agendamentos/novo_agendamento_rapido/'>
    {% csrf_token %}
    {% if comando.id == 1 or comando.id == 2 or comando.id == 3 or comando.id == 4 or comando.id == 5 or comando.id == 777 %}
    <hr style="height:0.1px; visibility:hidden;" />
    <input type="hidden" id="comando" name="comando" value="{{ comando.id }}"/>
    <input type="submit" value="Agendar agora: {{ comando.nome }}."/>
    {% endif %}
</form>
{% endfor %} 
<hr style="height:10pt; visibility:hidden;" />
<h4>UG1:</h4>
{% for comando in comandos %}
<form method='post' action='/agendamentos/novo_agendamento_rapido/'>
    {% csrf_token %}
    {% if comando.id == 102 or comando.id == 103 or comando.id == 104 or comando.id == 105 or comando.id == 106 %}
    <hr style="height:0.1px; visibility:hidden;" />
    <input type="hidden" id="comando" name="comando" value="{{ comando.id }}"/>
    <input type="submit" value="Agendar agora: {{ comando.nome }}."/>
    {% endif %}
</form>
{% endfor %}
<hr style="height:10pt; visibility:hidden;" />
<h4>UG2:</h4>
{% for comando in comandos %}
<form method='post' action='/agendamentos/novo_agendamento_rapido/'>
    {% csrf_token %}
    {% if comando.id == 202 or comando.id == 203 or comando.id == 204 or comando.id == 205 or comando.id == 206 %}
    <hr style="height: 0.1px; visibility:hidden;" />
    <input type="hidden" id="comando" name="comando" value="{{ comando.id }}"/>
    <input type="submit" value="Agendar agora: {{ comando.nome }}."/>
    {% endif %}
</form>
{% endfor %} 
{% endblock content %}

