{% extends "base.html" %}

{% block content %}
<h1>Parametros MOA</h1>
Página de configuraço dos parametros usados pelo MOA.

<form method='post' action='/parametros_moa/' style="margin-top: 40px;">
    {% csrf_token %}

    <div style="margin-bottom: 20px;">
        <b>Modo autonomo:</b><br>
        <input type="radio" id="modo_autonomo_ativado" name="modo_autonomo_ativado" value="True"
               {% if usina.modo_autonomo == True %}
               CHECKED
               {% endif %}/>
        <label for="True">Ativado</label>
        <input type="radio" id="modo_autonomo_ativado" name="modo_autonomo_ativado" value="False"
               {% if usina.modo_autonomo == False %}
               CHECKED
               {% endif %}/>
        <label for="False">Desativado</label>
    </div>

    <div style="margin-bottom: 20px;">
        <b>Priorização da partida e parada das Unidades de Geração:</b><br>
        <input type="radio" id="escolha_ugs" name="escolha_ugs" value="0"
               {% if escolha_ugs == 0 %}
               CHECKED
               {% endif %}/>
        <label for="0">Priorizar por horas-máquina</label>
        <input type="radio" id="escolha_ugs" name="escolha_ugs" value="1"
               {% if escolha_ugs == 1 %}
               CHECKED
               {% endif %}/>
        <label for="1">Priorizar a UG1</label>
        <input type="radio" id="escolha_ugs" name="escolha_ugs" value="2"
               {% if escolha_ugs == 2 %}
               CHECKED
               {% endif %}/>
        <label for="2">Priorizar a UG2</label>
    </div>

    <div style="margin-bottom: 20px;">
        <b>Nível Alvo</b><br>
        <input id="nv_alvo" name="nv_alvo" size=10 value="{{usina.nv_alvo}}"/></td>
    </div>

    <div style="margin-bottom: 20px;">
        <b>Limites de operação das Unidades de Geração</b><br>
        <table style="text-align:center" border="solid 1px black">
            <tr>
                <th>Grade</th>
                <th>Perda alerta na grade</th>
                <th>Perda máxima na grade</th>
            </tr>
            <tr>
                <td>UG 1</td>
                <td><input id="ug1_perda_grade_alerta" name="ug1_perda_grade_alerta" size=10 value="{{usina.ug1_perda_grade_alerta}}"/></td>
                <td><input id="ug1_perda_grade_maxima" name="ug1_perda_grade_maxima" size=10 value="{{usina.ug1_perda_grade_maxima}}"/></td>
            </tr>
            <tr>
                <td>UG 2</td>
                <td><input id="ug2_perda_grade_alerta" name="ug2_perda_grade_alerta" size=10 value="{{usina.ug2_perda_grade_alerta}}"/></td>
                <td><input id="ug2_perda_grade_maxima" name="ug2_perda_grade_maxima" size=10 value="{{usina.ug2_perda_grade_maxima}}"/></td>
            </tr>
        </table>
        <table style="text-align:center" border="solid 1px black">
            <tr>
                <th>Temperaturas</th>
                <th>UG1 alerta</th>
                <th>UG1 limite</th>
                <th>UG2 alerta</th>
                <th>UG2 limite</th>
            </tr>
            <tr>
                <td>Fase R</td>
                <td><input id="temperatura_alerta_enrolamento_fase_r_ug1" name="temperatura_alerta_enrolamento_fase_r_ug1" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_r_ug1}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_r_ug1" name="temperatura_limite_enrolamento_fase_r_ug1" size=10 value="{{usina.temperatura_limite_enrolamento_fase_r_ug1}}"/></td>
                <td><input id="temperatura_alerta_enrolamento_fase_r_ug2" name="temperatura_alerta_enrolamento_fase_r_ug2" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_r_ug2}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_r_ug2" name="temperatura_limite_enrolamento_fase_r_ug2" size=10 value="{{usina.temperatura_limite_enrolamento_fase_r_ug2}}"/></td>
            </tr>
            <tr>
                <td>Fase S</td>
                <td><input id="temperatura_alerta_enrolamento_fase_s_ug1" name="temperatura_alerta_enrolamento_fase_s_ug1" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_s_ug1}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_s_ug1" name="temperatura_limite_enrolamento_fase_s_ug1" size=10 value="{{usina.temperatura_limite_enrolamento_fase_s_ug1}}"/></td>
                <td><input id="temperatura_alerta_enrolamento_fase_s_ug2" name="temperatura_alerta_enrolamento_fase_s_ug2" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_s_ug2}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_s_ug2" name="temperatura_limite_enrolamento_fase_s_ug2" size=10 value="{{usina.temperatura_limite_enrolamento_fase_s_ug2}}"/></td>
            </tr>
            <tr>
                <td>Fase T</td>
                <td><input id="temperatura_alerta_enrolamento_fase_t_ug1" name="temperatura_alerta_enrolamento_fase_t_ug1" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_t_ug1}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_t_ug1" name="temperatura_limite_enrolamento_fase_t_ug1" size=10 value="{{usina.temperatura_limite_enrolamento_fase_t_ug1}}"/></td>
                <td><input id="temperatura_alerta_enrolamento_fase_t_ug2" name="temperatura_alerta_enrolamento_fase_t_ug2" size=10 value="{{usina.temperatura_alerta_enrolamento_fase_t_ug2}}"/></td>
                <td><input id="temperatura_limite_enrolamento_fase_t_ug2" name="temperatura_limite_enrolamento_fase_t_ug2" size=10 value="{{usina.temperatura_limite_enrolamento_fase_t_ug2}}"/></td>
            </tr>
            <tr>
                <td>Manca L.A. Casquilho</td>
                <td><input id="temperatura_alerta_mancal_la_casquilho_ug1" name="temperatura_alerta_mancal_la_casquilho_ug1" size=10 value="{{usina.temperatura_alerta_mancal_la_casquilho_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_la_casquilho_ug1" name="temperatura_limite_mancal_la_casquilho_ug1" size=10 value="{{usina.temperatura_limite_mancal_la_casquilho_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_la_casquilho_ug2" name="temperatura_alerta_mancal_la_casquilho_ug2" size=10 value="{{usina.temperatura_alerta_mancal_la_casquilho_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_la_casquilho_ug2" name="temperatura_limite_mancal_la_casquilho_ug2" size=10 value="{{usina.temperatura_limite_mancal_la_casquilho_ug2}}"/></td>
            </tr>
            <tr>
                <td>Manca L.N.A. Casquilho</td>
                <td><input id="temperatura_alerta_mancal_lna_casquilho_ug1" name="temperatura_alerta_mancal_lna_casquilho_ug1" size=10 value="{{usina.temperatura_alerta_mancal_lna_casquilho_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_lna_casquilho_ug1" name="temperatura_limite_mancal_lna_casquilho_ug1" size=10 value="{{usina.temperatura_limite_mancal_lna_casquilho_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_lna_casquilho_ug2" name="temperatura_alerta_mancal_lna_casquilho_ug2" size=10 value="{{usina.temperatura_alerta_mancal_lna_casquilho_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_lna_casquilho_ug2" name="temperatura_limite_mancal_lna_casquilho_ug2" size=10 value="{{usina.temperatura_limite_mancal_lna_casquilho_ug2}}"/></td>
            </tr>
            <tr>
                <td>Manca L.A. Escora 1</td>
                <td><input id="temperatura_alerta_mancal_la_escora_1_ug1" name="temperatura_alerta_mancal_la_escora_1_ug1" size=10 value="{{usina.temperatura_alerta_mancal_la_escora_1_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_la_escora_1_ug1" name="temperatura_limite_mancal_la_escora_1_ug1" size=10 value="{{usina.temperatura_limite_mancal_la_escora_1_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_la_escora_1_ug2" name="temperatura_alerta_mancal_la_escora_1_ug2" size=10 value="{{usina.temperatura_alerta_mancal_la_escora_1_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_la_escora_1_ug2" name="temperatura_limite_mancal_la_escora_1_ug2" size=10 value="{{usina.temperatura_limite_mancal_la_escora_1_ug2}}"/></td>
            </tr>
            <tr>
                <td>Manca L.A. Escora 2</td>
                <td><input id="temperatura_alerta_mancal_la_escora_2_ug1" name="temperatura_alerta_mancal_la_escora_2_ug1" size=10 value="{{usina.temperatura_alerta_mancal_la_escora_2_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_la_escora_2_ug1" name="temperatura_limite_mancal_la_escora_2_ug1" size=10 value="{{usina.temperatura_limite_mancal_la_escora_2_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_la_escora_2_ug2" name="temperatura_alerta_mancal_la_escora_2_ug2" size=10 value="{{usina.temperatura_alerta_mancal_la_escora_2_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_la_escora_2_ug2" name="temperatura_limite_mancal_la_escora_2_ug2" size=10 value="{{usina.temperatura_limite_mancal_la_escora_2_ug2}}"/></td>
            </tr>            <tr>
                <td>Manca L.A. Contra escora 1</td>
                <td><input id="temperatura_alerta_mancal_la_contra_escora_1_ug1" name="temperatura_alerta_mancal_la_contra_escora_1_ug1" size=10 value="{{usina.temperatura_alerta_mancal_la_contra_escora_1_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_la_contra_escora_1_ug1" name="temperatura_limite_mancal_la_contra_escora_1_ug1" size=10 value="{{usina.temperatura_limite_mancal_la_contra_escora_1_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_la_contra_escora_1_ug2" name="temperatura_alerta_mancal_la_contra_escora_1_ug2" size=10 value="{{usina.temperatura_alerta_mancal_la_contra_escora_1_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_la_contra_escora_1_ug2" name="temperatura_limite_mancal_la_contra_escora_1_ug2" size=10 value="{{usina.temperatura_limite_mancal_la_contra_escora_1_ug2}}"/></td>
            </tr>
            <tr>
                <td>Manca L.A. Contra escora 2</td>
                <td><input id="temperatura_alerta_mancal_la_contra_escora_2_ug1" name="temperatura_alerta_mancal_la_contra_escora_2_ug1" size=10 value="{{usina.temperatura_alerta_mancal_la_contra_escora_2_ug1}}"/></td>
                <td><input id="temperatura_limite_mancal_la_contra_escora_2_ug1" name="temperatura_limite_mancal_la_contra_escora_2_ug1" size=10 value="{{usina.temperatura_limite_mancal_la_contra_escora_2_ug1}}"/></td>
                <td><input id="temperatura_alerta_mancal_la_contra_escora_2_ug2" name="temperatura_alerta_mancal_la_contra_escora_2_ug2" size=10 value="{{usina.temperatura_alerta_mancal_la_contra_escora_2_ug2}}"/></td>
                <td><input id="temperatura_limite_mancal_la_contra_escora_2_ug2" name="temperatura_limite_mancal_la_contra_escora_2_ug2" size=10 value="{{usina.temperatura_limite_mancal_la_contra_escora_2_ug2}}"/></td>
            </tr>

        </table>
    </div>


    <div style="margin-bottom: 20px;">
        <b>Níveis de abertura da comporta:</b><br/>
        <table style="text-align:center" border="solid 1px black">
            <tr>
                <th>Estado da comporta</th>
                <th>Reduzir abertura</th>
                <th>Aumentar abertura</th>
            </tr>
            <tr>
                <td>Fechada</td>
                <td> - </td>
                <td><input id="nv_p0_prox" name="nv_p0_prox" size=10 value="{{usina.nv_comporta_pos_0_prox}}"/></td>
            </tr>
            <tr>
                <td>Posição 1</td>
                <td><input id="nv_p1_ant" name="nv_p1_ant" size=10 value="{{usina.nv_comporta_pos_1_ant}}"/></td>
                <td><input id="nv_p1_prox" name="nv_p1_prox" size=10 value="{{usina.nv_comporta_pos_1_prox}}"/></td>
            </tr>
            <tr>
                <td>Posição 2</td>
                <td><input id="nv_p2_ant" name="nv_p2_ant" size=10 value="{{usina.nv_comporta_pos_2_ant}}"/></td>
                <td><input id="nv_p2_prox" name="nv_p2_prox" size=10 value="{{usina.nv_comporta_pos_2_prox}}"/></td>
            </tr>
            <tr>
                <td>Posição 3</td>
                <td><input id="nv_p3_ant" name="nv_p3_ant" size=10 value="{{usina.nv_comporta_pos_3_ant}}"/></td>
                <td><input id="nv_p3_prox" name="nv_p3_prox" size=10 value="{{usina.nv_comporta_pos_3_prox}}"/></td>
            </tr>
            <tr>
                <td>Posição 4</td>
                <td><input id="nv_p4_ant" name="nv_p4_ant" size=10 value="{{usina.nv_comporta_pos_4_ant}}"/></td>
                <td><input id="nv_p4_prox" name="nv_p4_prox" size=10 value="{{usina.nv_comporta_pos_4_prox}}"/></td>
            </tr>
            <tr>
                <td>Abertura max</td>
                <td><input id="nv_p5_ant" name="nv_p5_ant" size=10 value="{{usina.nv_comporta_pos_5_ant}}"/></td>
                <td> - </td>
            </tr>
        </table>
    </div>

    <input type="submit" value="Salvar"/>
</form>


{% endblock content %}
