{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/moa_web/templates/css/login.css">
</head>
<body>
    <div id="content_container">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}  
      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Favor realizar o login para visualizar a página</p>
        {% endif %}
      {% endif %}  
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <br>
        <a style="margin-right: 13px;">Entrar: </a>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Esquceu a senha?</a></p>
    </div>
</body>
</html>
{% endblock %}